# Default ignored files
/../../Florama сайт/.idea/shelf/
/../../Florama сайт/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Florama сайт/.idea/httpRequests/
# Datasource local storage ignored files
/../../Florama сайт/.idea/dataSources/
/../../Florama сайт/.idea/dataSources.local.xml
